<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragment::head}"></head>
<head>
    <title th:text="${@environment.getProperty('spring.application.name')} + ' : About'">Serial port server</title>
    <style>
        .cow-container {
            font-family: monospace;
            white-space: pre;
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<header th:replace="~{fragment::header}"></header>
<div class="container">
    <p class="h4 text-center">About ....</p>
    <div>
        <div class="cow-container">
        <pre>
            (__)
            (oo)
  /---------\/
 / |       ||
*  ||----||
   ^^    ^^
        </pre>
        </div>
    </div>
</div>
<footer th:replace="~{fragment::footer}"></footer>
</body>
</html>