<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragment::headContent}"></th:block>
    <title th:text="${@environment.getProperty('spring.application.name')} + ' : Chart'">Chart</title>
    <link th:href="@{/css/chart.css}" rel="stylesheet"/>
    <link rel="preload" as="image" type="image/avif" th:href="@{/img/MapaSilm_2666x4000.avif}"/>
</head>
<body>
<header th:replace="~{fragment::header}"></header>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-auto text-center" th:each="ship : ${shipModels}">
            <div th:id="'bg-color-' + ${ship.id}" class="box justify-content-center"
                 th:style="'background-color: ' + ${ship.color}">
                <div class="container justify-content-center pb-1">
                    <img th:id="'led' + ${ship.id}" th:src="@{/img/led_connection_1.png}" alt="Led indicator">
                    <span th:id="'rs_model' + ${ship.id} + '_no'" class="text-center p-1 border-0">0</span>
                </div>
                <h4 class="text-center" th:text="${ship.name}">Ship Name</h4>
                <p class="text-center"><b>Speed: </b>
                    <span th:id="'speed' + ${ship.id}" class="text-center p-1 border-0 h5">0.0</span>
                </p>
                <p class="text-center"><b>Heading: </b>
                    <span th:id="'heading' + ${ship.id}" class="text-center p-1 border-0 h5">000.0</span>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- controls live outside #konvaContainer: Konva clears the stage container content on init -->
<div class="map-wrapper">
    <div class="canvas-container" id="konvaContainer"></div>
    <div class="map-controls btn-group-vertical" role="group" aria-label="Map zoom controls">
        <button type="button" id="zoomInBtn" class="btn btn-light border" title="Zoom in">+</button>
        <button type="button" id="zoomOutBtn" class="btn btn-light border" title="Zoom out">&minus;</button>
        <button type="button" id="zoomResetBtn" class="btn btn-light border" title="Reset view">&#8634;</button>
    </div>
</div>
<div class="container-fluid mt-3">
    <p id="textField" class="form-control" style="white-space: normal; word-wrap: break-word;">Text</p>
</div>
<footer th:replace="~{fragment::footer}"></footer>
<script th:inline="javascript">
    const ENABLE_TEST_RUNS_VAR    = /*[[${isTestEnabled}]]*/ false;
</script>
<script type="text/javascript" th:src="@{/js/konva-10_3_0/konva.min.js}"></script>
<script type="text/javascript" th:src="@{/js/chart-script.js}"></script>
</body>
</html>
