<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragment::head}"></head>
<head>
    <title th:text="${@environment.getProperty('spring.application.name')} + ' : Chart'">Chart</title>
    <link th:href="@{/css/chart.css}" rel="stylesheet"/>
</head>
<body>
<header th:replace="~{fragment::header}"></header>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-auto text-center" th:each="ship : ${shipModels}">
            <div th:id="'bg-color-' + ${ship.id}" class="box justify-content-center"
                 th:style="'background-color: ' + ${ship.color}">
                <div class="container justify-content-center pb-1">
                    <img th:id="'led' + ${ship.id}" th:src="@{/img/led_connection_1.png}" alt="Led indicator">
                    <span th:id="'rs_model' + ${ship.id} + '_no'" class="text-center p-1 border-0">0</span>
                </div>
                <h4 class="text-center" th:text="${ship.name}">Ship Name</h4>
                <p class="text-center"><b>Speed: </b>
                    <span th:id="'speed' + ${ship.id}" class="text-center p-1 border-0 h5">0.0</span>
                </p>
                <p class="text-center"><b>Heading: </b>
                    <span th:id="'heading' + ${ship.id}" class="text-center p-1 border-0 h5">000.0</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="canvas-container" id="main-div">
    <img id="backgroundCanvas" th:src="@{/img/MapaSilm_2666x4000.jpg}" width="2666" height="4000"
         alt="Silm Lake Chart should be here">
</div>
<div class="container-fluid mt-3">
    <p id="textField" class="form-control" style="white-space: normal; word-wrap: break-word;">Text</p>
</div>
<footer th:replace="~{fragment::footer}"></footer>
<script th:inline="javascript">
    const ENABLE_TEST_RUNS_VAR    = /*[[${isTestEnabled}]]*/ false;
</script>
<script type="text/javascript" th:src="@{/js/konva-10_0_7/konva.min.js}"></script>
<script type="text/javascript" th:src="@{/js/chart-script.js}"></script>
</body>
</html>
