<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment::head}"></head>
<head>
    <title th:text="${@environment.getProperty('spring.application.name')} + ' : Error'">Serial port server</title>
</head>
<body>
<header th:replace="~{fragment::header}"></header>
<div class="container">
<h1 class="h2 text-center">Error Page</h1>
<table class="table">
    <tr>
        <td><b>Date and Time</b></td>
        <td th:text="${timestamp}"/>
    </tr>
    <tr>
        <td>Path</td>
        <td th:text="${path}"/>
    </tr>
    <tr>
        <td>Error</td>
        <td th:text="${error}"/>
    </tr>
    <tr>
        <td>Status</td>
        <td th:text="${status}"/>
    </tr>
    <tr>
        <td>Message</td>
        <td th:text="${message}"/>
    </tr>
    <tr>
        <td>Exception</td>
        <td th:text="${exception}"/>
    </tr>
    <tr>
        <td>Trace</td>
        <td>
            <pre th:text="${trace}"/>
        </td>
    </tr>
</table>
</div>
<footer th:replace="~{fragment::footer}"></footer>
</body>
</html>