<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{/bootstrap-5-3-3/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap-5-3-3/css/bootstrap.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/bootstrap-5-3-3/js/bootstrap.js}"></script>
</head>
<body>
<header th:fragment="header" class="header p-3">
    <p class="text-center h4">Serial port server</p>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
                <!-- Left links -->
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/terminal}">Terminal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
</header>

<footer th:fragment="footer" class="footer p-3">
    <p class="text-center m-0">&copy; 2024. All rights reserved.</p>
    <p class="text-center small m-0" th:text="'Version: ' + ${@environment.getProperty('application.version')}">
        Application version</p>
</footer>


</body>
</html>