<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragment::head}"></head>
<head>
    <title th:text="${@environment.getProperty('spring.application.name')} + ' : Home'">Serial port server</title>
</head>
<body>
<header th:replace="~{fragment::header}"></header>
<div class="container text-center">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hello, World!</h1>
            <p class="lead">Welcome to the Simple AIS Service! Here, you can find actual position and additional information about the models on the Silm Lake training areas.</p>
        </div>
    </div>
    <hr class="my-4">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <div class="container text-center m-3">
                <img th:src="@{/img/sample.png}" width="300" height="200" alt="Description of image">
            </div>
            <hr>
            <div class="container align-content-center">
                <h5 class="align-content-center text-center">Actual time</h5>
                <div class="container align-content-center text-center">
                    <p id="messages" class="align-content-center text-center">0</p>
                </div>

            </div>
        </div>
        <div class="col-sm-2 sidenav">
        </div>
    </div>
</div>
<footer th:replace="~{fragment::footer}"></footer>
<script type="text/javascript"  th:src="@{/js/ws-params.js}"></script>
<script type="text/javascript"  th:src="@{/js/ws-script.js}"></script>
<script type="text/javascript"  th:src="@{/js/http_www.gstatic.com_charts_loader.js}"></script>
<script type="text/javascript"  th:src="@{/js/google-chart-script.js}"></script>
</body>
</html>