<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragment::head}"></head>
<head>
    <style>
        .form-control {
          font-family:"Courier New", Times, Monospace;
          font-size: 12px;
          text-align:left;
        }
    </style>
    <title th:text="${@environment.getProperty('spring.application.name')} + ' : Terminal'">Serial port server</title>
</head>
<body>
<header th:replace="~{fragment::header}"></header>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="p-3 border bg-light">
                <label for="rawData">Sample left text</label>
                <textarea disabled class="form-control" id="rawData" rows="43" style="text-align: left;">
                </textarea>
            </div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">
                <label for="parseData">Sample right text</label>
                <textarea disabled class="form-control" id="parseData" rows="43" style="text-align: left;">
            </textarea>
            </div>
        </div>
    </div>
    <footer th:replace="~{fragment::footer}"></footer>
</div>
<script>
    const hostname = window.location.hostname; // Gets the hostname of the current page
    const port = 8080;
    const path = '/rs';
    // Create a WebSocket instance
    const socket = new WebSocket(`ws://${hostname}:${port}${path}`);

    socket.onmessage = function (event) {
        console.log("WebSocket message received: ", event.data);
        const textArea = document.getElementById('rawData');

<!--        const message = document.createElement('div');-->
        const textContent = event.data;
<!--        messagesContainer.innerHTML = event.data;-->
        const val = textArea.value.trim();
        if (val === "") {
        textArea.value = textContent;
        } else {
        textArea.value += "\n" + textContent;
        }

    };

    socket.onerror = function (error) {
        console.error("WebSocket error: ", error);
    };

    socket.onopen = function (event) {
        console.log("WebSocket connection opened.");
    };

    socket.onclose = function (event) {
        console.log("WebSocket connection closed.");
    };
</script>
</body>
</html>