<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragment::head}"></head>
<head>
    <style>
        .form-control {
          font-family:"Courier New", Times, Monospace;
          font-size: 12px;
          text-align:left;
        }
    </style>
    <title th:text="${@environment.getProperty('spring.application.name')} + ' : Terminal'">Serial port server</title>
</head>
<body>
<header th:replace="~{fragment::header}"></header>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="p-3 border bg-light">
                <label for="rawData">Raw data</label>
                <textarea disabled class="form-control" id="rawData" rows="43" style="text-align: left;">
                </textarea>
            </div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">
                <label for="parseData">Parsed data</label>
                <textarea disabled class="form-control" id="parseData" rows="43" style="text-align: left;">
            </textarea>
            </div>
        </div>
    </div>
    <footer th:replace="~{fragment::footer}"></footer>
</div>
<script type="text/javascript"  th:src="@{/js/terminal-script.js}"></script>
<script type="text/javascript"  th:src="@{/js/ws-params.js}"></script>
</body>
</html>