<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragment::head}"></head>
<head>
    <style>
        .form-control {
          font-family:"Courier New", Times, Monospace;
          font-size: 12px;
          text-align:left;
        }
    </style>
    <title th:text="${@environment.getProperty('spring.application.name')} + ' : Terminal'">Serial port server</title>
</head>
<body>
<header th:replace="~{fragment::header}"></header>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="p-3 border bg-light">
                <label for="rawData">Sample left text</label>
                <textarea disabled class="form-control" id="rawData" rows="43" style="text-align: left;">
                </textarea>
            </div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">
                <label for="parseData">Sample right text</label>
                <textarea disabled class="form-control" id="parseData" rows="43" style="text-align: left;">
            </textarea>
            </div>
        </div>
    </div>
    <footer th:replace="~{fragment::footer}"></footer>
</div>
<script>
    const rs = "/rs";
    const json = "/json";
    window.onload = function() {
    connectWebSocket(rs, 'rsMessages');
        connectWebSocket(json, 'testMessages');
    }

    function connectWebSocket(endpoint, messageAreaId) {
    const hostname = window.location.hostname; // Gets the hostname of the current page
    const port = 8080;
        const ws = new WebSocket(`ws://${hostname}:${port}${endpoint}`);

        ws.onopen = function(event) {
            console.log(`Connected to ${endpoint}`);
<!--            appendMessage(messageAreaId, `Connected to ${endpoint}`);-->
        };

        ws.onmessage = function(event) {
            console.log(`Message from ${endpoint}: `, event.data);
                    const textArea = document.getElementById("rawData");
                    const textContent = event.data;
                    console.log("Endpoint: " + endpoint)

        if (endpoint == rs) {
        console.log("Yes RS")
        appendMessage("parseData", textContent);
        } else {
        console.log("Yes JSON")
        appendMessage("rawData", textContent);
        }

        };

        ws.onclose = function(event) {
            console.log(`Disconnected from ${endpoint}`);
<!--            appendMessage(messageAreaId, `Disconnected from ${endpoint}`);-->
        };

        ws.onerror = function(event) {
            console.error(`Error in ${endpoint}: `, event);
<!--            appendMessage(messageAreaId, `Error: ${event}`);-->
        };
    }

    function appendMessage(areaId, message) {
        const textMessage = document.getElementById(areaId);
                        const val = textMessage.value.trim();
        if (val === "") {
        textMessage.value = message;
        } else {
        textMessage.value += "\n" + message;
        }
    }
</script>
</body>
</html>